ul{
    list-style-type: none;
}
h1{
    color: $color-primario;
    text-align: center;
    margin-top: 20px;
}
h2{
    color: $color-primario;
    text-align: center;
}
h3{
    color: $color-primario;
    text-align: center;
}
h4{
    color: $color-primario;
    text-align: center;
}
p{
    text-align: center;
}
a{
    text-decoration: none;
    color: $color-primario;
}
.introduccion{
    display: flex;
    border: 10px;
    padding: 10px;
    border-style:double ;
    background-color: $color-secundario;
    border-color: $color-secundario;
    justify-content:space-around;
    flex-flow:row wrap;
    align-items: center;
    &-p{
        flex-flow:row wrap;
        text-align: center;
    }
    &-img{
        border: 5px;
        border-style: solid;
        border-color: $color-secundario;
    }
}
.productos{
    padding: 10px;
    &-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        div{
            display: flex;
            flex-direction: column;
            border: 2px;
            padding: 30px;
            border-style:dashed;
            border-color: $color-secundario;
            justify-content:space-around;
        }
    }
    &-img1{
        background-image: url(../assets/cafe-chimi-producto-difu.png) ;
    }
    &-img2{
        background-image: url(../assets/galletitas-gaara-producto-difu.png) ;
    }
    &-img3{
        background-image: url(../assets/cafe-kitty-producto-difu.png) ;
    }
}
.chimi-foto{
    @include fotos-grid(grid, 100%, 100%);
    @include alineamiento(center, center);
    grid-column: 3/4;
    grid-row: 2/3;
}
.chimi-producto{
    @include fotos-grid(grid, 95%, 95%);
    @include alineamiento(center, center);
    grid-column: 2/4;
    grid-row: 1/3;
    height: auto;
}
.chimi-texto{
    @include fotos-grid(grid, 80%, 100%);
    @include alineamiento(center, center);
    grid-column: 4/5;
    grid-row: 1/3;
}
.gaara-foto{
    @include fotos-grid(grid, 100%, 100%);
    @include alineamiento(center, center);
    grid-column: 3/4;
    grid-row: 5/6;
}
.gaara-producto{
    display: grid;
    grid-column: 3/5;
    grid-row: 4/6;
    @include medida-imagenes(auto, 95%);
    @include alineamiento(center, center);

}
.gaara-texto{
    @include fotos-grid(grid, 80%, 100%);
    @include alineamiento(center, center);
    grid-column: 2/3;
    grid-row: 4/6;
}
.kitty-foto{
    @include fotos-grid(grid, 100%, 100%);
    @include alineamiento(center, center);
    grid-column: 3/4;
    grid-row: 8/9;
}
.kitty-producto{
    display: grid;
    grid-column: 2/4;
    grid-row: 7/9;
    @include medida-imagenes(auto, 95%);
    max-height: 95%;
    @include alineamiento(center, center);
}
.kitty-texto{
    @include fotos-grid(grid, 80%, 100%);
    @include alineamiento(center, center);
    grid-column: 4/5;
    grid-row: 7/9;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.whatsapp{
    @include alineamiento(center, center);
    grid-column: 1/3;
    grid-row: 1/2;

}
.telegram{
    @include alineamiento(center, center);
    grid-column: 2/4;
    grid-row: 2/3;

}
.instagram{
    @include alineamiento(center, center);
    grid-column: 1/3;
    grid-row: 3/4;

}
.facebook{
    @include alineamiento(center, center);
    grid-column: 2/4;
    grid-row: 4/-1;
}
.fotos-productos{
    height:400px;
}
.fotos-footer{
    height:100px;
}
.fotos-productos-home{
    height: 200px;
}
.galeria{
    text-align: center;
    img{
        height:400px;
    }
}
.home-foto{
    text-align: center;
}
.contactos{
    text-align: center;
    padding: 20px;
    a img{
    height:80px; 
    }
}
.sucursales{
    text-align: center;
}
.preguntas{
    text-align: center;
    form{
        height: 160px;
    }
}